.single-product-main-container {
  display: flex;
  height: 91vh;
  width: 100vw;
  justify-content: space-between;
}

.single-product-image-section {
  display: flex;
  justify-content: center;
  width: 836px;
  height: 100%;
}

.single-product-image-section > img {
  align-self: center;
  max-width: 90%;
  max-height: 90%;
}

.single-product-info-section {
  min-width: 300px;
  width: 30%;
  height: 100%;
}

.single-product-buy-container {
  align-self: ;
  margin: 100px;
  width: 10%;
  min-width: 100px;
  height: 100px;
  border: solid 1px black;
}
