.remove-header {
  display: none;
}

.main-login {
  height: 100vh;
}

/* Logo */
.logo-container-login {
  width: 100%;
  height: 10%;
  margin-top: 30px;
  text-align: center;
  font-size: 1.5em;
}

/* Login Form */
.logo-container-login > a {
  color: black;
  text-decoration: none;
}

.logo-container-login > a > h1 {
  margin: 0px;
}

.login-form-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.login-form {
  padding: 20px;
  height: fit-content;
  border: black solid 1px;
  border-radius: 5%;
  margin-top: 50px;
  background-color: white;
}

.username-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.password-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.username-section > input,
.password-section > input {
  font-size: 1.1em;
}

.username-section > input:focus-within,
.password-section > input:focus-within {
  margin-top: 2px;
  box-shadow: 0px 0px 3px 2px rgb(212, 138, 0);
}

.login-button-section {
  text-align: center;
  padding: 20px;
}

.login-button-section > button {
  font-size: 1em;
}

.to-register > a > p {
  margin: 0px;
}

/* error Message */

.login-error-section {
  text-align: center;
}

.login-error-section > p {
  margin: 8px;
  color: red;
}

.login-error-section > p {
  animation: flashRed 1s;
}

@keyframes flashRed {
  0% {
    color: black;
  }
  33% {
    color: red;
  }
  66% {
    color: black;
  }
  100% {
    color: red;
  }
}
