.checkout-logo > a {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.checkout-logo > a > h1 {
  margin: 0px;
  font-size: 2em;
}

.checkout-form-main {
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
}

.checkout-form-container {
  display: flex;
  justify-content: center;
}

.checkout-form {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  border: black 1px solid;
  padding: 20px;
  height: fit-content;
  width: fit-content;
  box-shadow: 5px 5px 5px black;
}

.checkout-form-ccv-options {
  margin: 0px;
}

.checkout-form-options {
  padding: 5px 0px 5px 0px;
}

.checkout-form-options > select {
  margin-right: 5px;
}

.ccv-form-section > input {
  width: 30px;
  text-align: center;
}

.total-price-section {
  display: flex;
  justify-content: center;
}

.total-price-container {
  border: 1px solid black;
  padding: 20px;
  width: 340px;
  background-color: white;
  box-shadow: 5px 5px 5px black;
}

.order-summary-section {
  border-bottom: 1px solid black;
  text-align: center;
}

.prices-section {
  display: flex;
  width: 100%px;
  border-bottom: 1px solid black;
}

.prices-section-l,
.order-total-section-l {
  text-align: start;
  width: 50%;
}

.prices-section-r,
.order-total-section-r {
  text-align: end;
  width: 50%;
}

.order-total-section {
  display: flex;
  color: rgb(228, 0, 0);
  border-bottom: 1px black solid;
  padding-bottom: 10px;
}

.checkout-button-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkout-button-section > button {
  background-color: rgb(201, 248, 197);
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
}
