header {
  display: flex;
  background-color: #969696;
  -webkit-text-size-adjust: 100%;
  border-bottom: 1px black solid;
  height: 80px;
}

/* Logo */
.logo-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo-container > a {
  text-decoration: none;
  color: black;
}

/* Seaerch bar */
.searchbar-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-content: center;
}

.searchbar-container > form {
  background-color: white;
  width: 80%;
  height: 40px;
  border: black solid 1px;
  border-radius: 10px;
  display: flex;
}

.searchbar-container > form:focus-within {
  border: 2px solid rgb(212, 138, 0);
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.category-selector-container > select {
  height: 100%;
  border: 0px;
  border-right: 1px solid black;
  background-color: inherit;
  text-align: center;
}

.search-input-container {
  width: 100%;
}

.search-input-container > input {
  width: 100%;
  height: 100%;
  padding: 0px;
  border: 0px;
  background-color: inherit;
  font-size: 1em;
}

.search-input-container > input:focus {
  border: none;
  outline: none;
}

.serarch-icon-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 35px;
  height: 100%;
  border-left: solid black 1px;
  justify-content: center;
  align-content: center;
}

.serarch-icon-container > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
}

.serarch-icon-container > button:hover {
  cursor: pointer;
}

/* Account/Login/Register Links */
.account-container {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.account-container > a {
  color: black;
  text-decoration: none;
}

.account-container > a > p {
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
}

.account-container > a > p:hover {
  border: 1px rgb(212, 138, 0) solid;
}

.account-container > button {
  height: fit-content;
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
}

/* Shopping cart icon */
.shopping-cart-container {
  height: 100%;
  width: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.shopping-cart-container > a {
  color: rgb(62, 122, 146);
}

.shopping-cart-container > a > i {
  font-size: 40px;
}

.shopping-cart-container > a > i:hover {
  border: 1px rgb(212, 138, 0) solid;
  padding: 5px;
}
