header {
  display: flex;
  background-color: #969696;
  -webkit-text-size-adjust: 100%;
  border-bottom: 1px black solid;
}

.logo-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.searchbar-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-content: center;
}

.searchbar-container > form {
  background-color: white;
  width: 80%;
  height: 40px;
  border: black solid 1px;
  border-radius: 10px;
  display: flex;
}

.searchbar-container > form:focus-within {
  border: 2px solid rgb(212, 138, 0);
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.3);
}

.category-selector-container > select {
  height: 100%;
  border: 0px;
  border-right: 1px solid black;
  background-color: inherit;
  text-align: center;
}

.search-input-container {
  width: 100%;
}

.search-input-container > input {
  width: 100%;
  height: 100%;
  padding: 0px;
  border: 0px;
  background-color: inherit;
  font-size: 1em;
}

.search-input-container > input:focus {
  border: none;
  outline: none;
}

.serarch-icon-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 35px;
  height: 100%;
  border-left: solid black 1px;
  justify-content: center;
  align-content: center;
}

.account-container {
  width: 20%;
}

.shopping-cart-container {
  width: 5%;
}
